* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f4eee2;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

label {
    font-family: "Lato", sans-serif;
}

/* Index */

.above-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logo {
    border: solid 2px #edc981;
    border-radius: 5px;
    margin-left: 700px;
}

.login {
    background-color: #f4eee2;
    border: solid 2px #000000;
    border-radius: 36px;
    height: 60px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 520px;
}

.logout  {
    background-color: #f4eee2;
    border: solid 2px #000000;
    border-radius: 36px;
    height: 60px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 520px;
}

.login-tekst {
    font-size: 28px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.home-cafe-tekst {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    margin-left: 840px;
}

.home-tekst {
    font-size: 28px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.box-button-home {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.button-home {
    height: 60px;
    width: 800px;
    border: #000000 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-tekst {
    font-size: 22px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.sociaal {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta-logo {
    width: 20px;
}

/* Menu */

header {
    display: flex;
    align-items: center;
    background-color: #f1e2c3;
    width: 100%;
    height: 150px;
}

.tekst-header {
    font-size: 33px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-left: 90px;
}

.login-header {
    background-color: #cbbea7;
    border: solid 2px #000000;
    border-radius: 36px;
    height: 60px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 620px;
}

.logo-header {
    border: solid 2px #edc981;
    border-radius: 5px;
    margin-left: 300px;
}

.body-menu {
    width: 100%;
    height: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-box {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #f1e2c3;
    border: solid 2px #000000;
    border-radius: 50px;
    margin-top: 150px;
}

.tekst-menu-box {
    font-size: 50px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.tekst-menu-small {
    font-size: 30px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-top: 20px;
}

.callus-menu {
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #cbbea7;
    border: solid 2px #000000;
    border-radius: 50px;
    margin-top: 50px;
}

.eten-boxs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
    margin-top: 220px;
}

.photo-eat {
    border-radius: 10px;
    width: 500px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #f1e2c3;
    width: 100%;
    height: 150px;
}

.footer-minitekst {
    color: #807f7e7d;
    font-size: 20px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-left: 90px;
}

.logo-footer {
    border: solid 2px #edc981;
    border-radius: 5px;
    margin-left: 670px;
}

/* Menukaart */

.body-menukaart {
    width: 100%;
    height: 3300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* login paneel */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #f4eee2;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    text-align: left;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    width: 30%;
    padding: 10px;
    background-color: #f4eee2;
    border: solid 2px #edc98150;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
    margin-left: 395px;
}

.modal-content button:hover {
    background: #edc981;
}

.login-tekst-paneel {
    font-size: 18px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}